#jogo {
    margin: 10px auto;
    padding: 30px;
    height: 260px;
    width: 260px;
    background-color: rgb(152, 188, 236);
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    font-size: 1em;
}
h1 {
    margin:0;
}

p {
    font-size: 25px;
}

#letra {
    width: 100px;
    height: 40px;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
}
#verifica {
    width: 150px;
    height: 44px;
    padding: 0;
    margin: 0;
    font-size: 2em;
}